Django>=2.2
djangorestframework==3.14
markdown
django-filter
psycopg2
drf_spectacular
django-rest-swagger
djangorestframework-simplejwt
celery-redbeat
django-celery-beat
cluster~=1.4.1.post3
celery~=5.2.7
django-cors-headers
exponent_server_sdk

requests~=2.28.2
